.logo {
    width: 189px;
    height: 64px;
    padding: 5px;
}

.fundo {
    width: 100%;
    height: 83px;
    left: 0px;
    top: 0px;
    background: #bdbbbb;
    position: fixed;
}

.itemMenu {
    font-size: 30px;
    padding: 5px;
    float: right;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.itemMenu:hover {
    color: royalblue;
}

.itemMenu:active {
    color: red;
}